<%= content_for :head do %>
  <%= javascript_pack_tag 'locations/show', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<% end %>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <p class='lead mt-2'>
      <%= @location.country %> - <%= @location.city %>
    </p>
  </li>
</ul>

<%= render partial: 'availability_form' %>

<h3>Rooms</h3>
<div id='location-rooms'>
  <%= render partial: 'rooms/list', locals: { rooms: @location.rooms } %>
</div>

<h3 class='mt-2'>Activities</h3>
<div id='location-activities'>
  <%= render partial: 'activities/list', locals: { activities: @location.activities } %>
</div>

<%= form_with url: bookings_path, method: :post do |form| %>
  <%= form.hidden_field :starts_at, id: 'starts-at-input' %>
  <%= form.hidden_field :ends_at, id: 'ends-at-input' %>
  <%= form.hidden_field :activities_ids, id: 'activities-input' %>
  <%= form.hidden_field :room_id, id: 'rooms-input' %>
  <button id='reserve' type='submit' class="book-btn btn btn-success disabled">Reserve</button>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    $('.datepicker').datepicker({
      format: 'd MM yyyy'
    });
  });
</script>
