<!DOCTYPE html>
<html>
  <head>
    <title>Selina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-center">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <img src="https://www.selina.com/static/media/selina_logo_black.b62a0982.svg" width="100" class="d-inline-block align-top" alt="">
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
